{% extends 'layout.html' %}

{% load static %}

{% block title %}
  About Us
{% endblock %}

{% block body %}
<section class="py-5 container">
      <div class="row py-lg-3">
          <div class="col-12 col-sm-12 col-md-12 col-lg-8 mx-auto">
              <h1 class="fw-bold text-center mb-3">Information about our Project</h1>

              <ul class="list-group list-group-flush">
                  <li class="list-group-item m-3">
                      During this COVID-19 period, you may have noticed that there are lot of issues
                      people are facing. One of the most important issue that affects each and every
                      person is the <mark>Mental Health Care Issue.</mark> So people need to talk to
                      each other to share their problems/ issues. So here comes up our <mark>Project Idea</mark>
                      This website will allow users to chat anonymously with the people and share their
                      problems and this will help them to <mark>Reduce Anxiety</mark>
                  </li>
                  <li class="list-group-item m-3">
                      Also, users can <mark>Upload or Record</mark> their Audio and Get Insights
                      about the Audio that What is the Tone of the Audio? Is it Polite or Rude.
                      What is the Frequency of words used in the audio? etc and many more.
                  </li>
                  <li class="list-group-item m-3">
                      Well, what if I say that Hey, can the users <mark>Connect</mark> with the people
                      talking about the same things? The answer is YES, we have implemented this
                      functionality where people can connect with other people having conversation
                      about same things.
                  </li>
                  <li class="list-group-item m-3">
                      Last but not the least, We have also implemented a feature where Users can
                      <mark>Directly Chat using Chat Box</mark> with the Like-minded people and
                      have a conversation with them.
                  </li>
              </ul>
          </div>
      </div>
  </section>

  <!-- Footer -->
  <div class="container-fluid">
      <div class="row pt-3 pb-3" style="background-color: #4285F4;">
          <div class="col-4 d-flex justify-content-center">
              <a class="btn btn-dark text-white" href="" role="button">
                  Back to Top
              </a>
          </div>
      </div>
  </div>
{% endblock %}
