{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Add Favicon here -->

    <title>
      Talk
     </title>
  </head>
  <body>
<br><br><br>
  <h1>Chat</h1>
  <form method="post">
    {% csrf_token %}
    <input type="text" name="message" size="60"/>
    <input type="submit" value="Chat">
    <a href="{% url 'application:index' %}">Cancel</a>
  </form>

  <div id="chatcontent">
    <img src="{% static 'img/loading.gif' %}" alt="Loading..."/>

  </div>

  <script type="text/javascript">
    function updateMsg() {
      console.log('Requesting JSON');
      $.getJSON('{% url 'application:messages' %}', function(rowz){
        console.log('JSON', rowz);
        $('#chatcontent').empty();
        for (var i = 0; i < rowz.length; i++)
        {
          arrow = rowz[i];
          $('#chatcontent').append('<p>' + arrow[0] + '<br/>&nbsp;&nbsp;' + arrow[1] + "</p>\n");
        }
        setTimeout('updateMsg()', 4000);
      });
    }
    $(document).ready(function () {
      $.ajaxSetup({ cache: false });
      setTimeout('updateMsg()', 2000);
    });

  </script>


</body>

</html>
