{% extends 'layout.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  Upload Audio from your computer
{% endblock %}

{% block body %}
<div class="container-fluid mb-4">
      <div class="container">
          <div class="row flex-lg-row-reverse flex-md-row-reverse justify-content-end align-items-center py-5">
              <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 pb-5 py-3">
                  <img src="{% static 'img/upload-gif.gif' %}" class="mx-auto shadow-lg rounded img-fluid d-none d-sm-none d-md-3-none d-lg-block d-xl-block" alt="Upload Banner Image" />
              </div>

              <div class="col-lg-8 col-md-12 col-sm-12 d-col-lg-8 d-col-md-6 d-col-sm-12 p-3">
                  <h1 class="display-4 fw-bold lh-1 mb-3">Upload any Audio</P></h1>
                  <p class="lead">
                      Get Insights about an Audio Clip uploaded by you :)
                  </p>
                  <br/>
                  <p>
                      <label for="multipleFiles" class="form-label">Upload your Audio File(s)</label>
                      <form method="POST" action="{% url 'application:audio' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <br>
                        {% if form.errors %}
                      {% for field in form %}
                          {% for error in field.errors %}
                              <div class="alert alert-danger">
                                  <strong>{{ error|escape }}</strong>
                              </div>
                          {% endfor %}
                      {% endfor %}
                      {% for error in form.non_field_errors %}
                          <div class="alert alert-danger">
                              <strong>{{ error|escape }}</strong>
                          </div>
                      {% endfor %}
                  {% endif %}
                  <br>
                        <input type="submit" class="btn btn-primary mt-3 mb-3 btn-register" value="Upload and Connect!!" />
                      </form>
                  </p>

                  <div class="d-md-flex justify-md-content-center">



                  </div>
              </div>
          </div>
      </div>
  </div>
{% endblock %}
